ul {
  border-right: blue solid 2px;
  width: 300px;
  height: 900px;
  list-style: none;
}

li, a {
  color: pink;
  text-decoration: none;
  padding: 5px;
  font-size: large;
}

#bio {
  size: 40;
  /* padding-top: 0;
  padding-left: 0; */
}

.carousel-container {
  display:inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-color: aquamarine;
  color: black;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
  text-align: center
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* #image_upload {
  
} */